body {
  margin: 0;
}

.search-wrapper {
  padding: 10px;
  background-color: rgb(72, 72, 253);
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-form input {
  padding: 10px 80px 10px 5px;
  border: none;
}

.search-form button {
  border-radius: 5px;
  border: none;
  padding: 10px 20px 10px 20px;
}

.gallery {
  padding-top: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  justify-content: center;
}

.photo-card {
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.photo-card img {
  height: 250px;
  width: 350px;
}

.photo-card .info {
  max-width: 350px;
  display: flex;
  gap: 10px;
}

.photo-card .info-item {
  text-align: center;
}

.load-more {
  display: none;
}

.show-load-more {
  color: white;
  font-size: 16px;
  padding: 15px 40px 15px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(91, 91, 255);
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
